<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <script src="{% static 'js/jQuery.js' %}" type="text/javascript" charset="utf-8"></script>
        <title></title>
    </head>
    <body style="width: 100%;height: 100%;background: url({% static 'img/forged.jpg' %}) no-repeat;">

                <div style="width: 100%;height: 100%;text-align：center;margin: auto;">
                    <div id="" style="width: 50rem;height: 100%;margin-left: 25rem;margin-top: 6.875rem;">
                        <div id="" style="width: 23.5rem;float: left;margin-left: 30.5rem;margin-top: 14.25rem;">
                            <p><img src = "/static/img/get.jpg" style="width: 5rem;margin-bottom: -0.9375rem;"><i style="margin-bottom: 0.625rem;">Applying for pulickey</i></p>
                            <p><img src = "/static/img/get.jpg" style="width: 5rem;margin-bottom: -0.9375rem;"><i style="margin-bottom: 0.625rem;">Verifying ...</i></p>
                            {% for foo in name_f %}
                                <p><img src="{% static 'img/forge.jpg' %}" style="width: 5rem;margin-bottom: -0.9375rem;"><i style="margin-bottom: 0.625rem;">{{ foo }} </i></p>
                            {% endfor %}

                        </div>
                    </div>
                </div>
    </body>

{% block xq_js_js %}
    <script type="text/javascript">
        $(function () {
            $('#zs_zs').hide();
        })
    </script>

{% endblock %}